PUBLIC_SANITY_PROJECT_ID=15z3a7sh
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-02-19
PUBLIC_GOOGLE_MAPS_BROWSER_KEY=
PUBLIC_GOOGLE_MAPS_MAP_ID=
PUBLIC_GA4_MEASUREMENT_ID=
PUBLIC_META_PIXEL_ID=2692730267770092
PUBLIC_GOOGLE_SITE_VERIFICATION=
# Sólo desarrollo local. Requiere un token de lectura con acceso a drafts.
SANITY_USE_DRAFTS=false
# SANITY_AUTH_TOKEN=
