PUBLIC_SANITY_PROJECT_ID=15z3a7sh
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-02-19
PUBLIC_GOOGLE_MAPS_BROWSER_KEY=
PUBLIC_GOOGLE_MAPS_MAP_ID=
# Sólo desarrollo local. Requiere un token de lectura con acceso a drafts.
SANITY_USE_DRAFTS=false
# SANITY_AUTH_TOKEN=
